<b> <a href='/incomes'>Get Income Details </a></b><br>
<b> <a href='/expenses'>Get Expense Details </a></b><br>
<b> <a href='/categories'>Get Category Details </a></b><br>
<b><%= link_to "Bank Statement", { :action => "get_bank_details", :format => :csv }, target: '_blank'%></b>